ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li:last-child {
  border-right: 5px;
  float: right;
}

/* This px padding accomodates for bootstrap negative left/right row margin of 15px, and adds plus 5 for nicer visuals */
.bts15 {
  margin: 0 20px 0 20px;
}

.active {
  background-color: cadetblue;
}

.inLineBlok { 
  display: inline-block;
}

.headerLeft {
  width: 17.5vw;
  /*float: left;*/
  /*position: absolute;*/
  /*left: 0px;*/
}

.headerCenter {
  width: 50vw;
  /*position: absolute;*/
  /*left: 25vw;*/
}

.headerRight {
  width: 20vw;
  /*float: right;*/
  /*position: absolute;*/
  /*right: 0px;*/
}

.doapng {
  background-position-x: center; 
}

.redtext {
  color: red;
}

.bkgw {
  background-color: white;
}

.center {
  text-align: center;
}

.navOffCntr {
  /*top and bottom margin taken care of by div for reactive approach with nav bar, controlled by linkShift class*/
  padding: 0 8vh 0 8vh;
}

.linkShift {
  padding-bottom: 15vh;
}

/* Max media is for reactive display */
@media screen and (max-width: 599px) {
  .userPlotlyChart {
    width: 100%;
    height: 85vh;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .userPlotlyChart {
    width: 600px;
    height: 500px;
  }
}

@media screen and (min-width: 801px) {
  .userPlotlyChart {
    width: 800px;
    height: 650px;
  }
}
