<!DOCTYPE html>
<!-- contacts.html -->
<html>
  <head>
	  <!-- Vendor Dependencies -->
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	  <!-- User Defined CSS -->
          <link rel="stylesheet" href="../static/css/common.css">
          <link rel="stylesheet" href="../static/css/contacts.css">
  </head>
  <body background="../static/images/doa.jpeg" class="doapng" alt="Doa Watermark">
    <title>Contact Information</title>
    <div class="header">
	    <h2 class="center paddingtop">Risk Application Analyzer</h2>
	    <p class="center">This application is for the purpose of determining risk associated with cost and schedule overrun for agile software development.</p>
    </div>
    <!-- This is the navigation bar -->
    <ul>
	    <li><a href="/">Home</a></li>
            <li><a href="/generate">Generate</a></li>
            <li><a class="active" href="/contacts">Contact</a></li>
            <li><a href="/about">About</a></li>
    </ul>
    <!-- end of navbar -->
    <h2>Points of Contact for this Project.</h2>
    <p>{{ poc1 }}</p>
    <p>{{ poc2 }}</p>
    <p>{{ poc3 }}</p>
    <p>{{ poc4 }}</p>
  </body>
</html>
