<!DOCTYPE html>
<!-- generate.html -->
<html>
  <head>
	  <!-- Vendor Dependencies -->
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	  <!-- User Defined CSS -->
          <link rel="stylesheet" href="../static/css/common.css">
          <link rel="stylesheet" href="../static/css/generate.css">
  </head>
  <body background="../static/images/dasacearmy.png" class="doapng" alt="Doa Watermark">
    <title>Generate Total Risk Data</title>
    <div class="header">
            <h2 class="center paddingtop">Risk Application Analyzer</h2>
            <p class="center">This application is for the purpose of determining risk associated with cost and schedule overrun for agile software development.</p>
    </div>
    <!-- This is the navigation bar -->
    <ul>
	    <li><a href="/">Home</a></li>
            <li><a class="active" href="/generate">Generate</a></li>
            <li><a href="/contacts">Contact</a></li>
            <li><a href="/about">About</a></li>
    </ul>
    <!-- end of navbar -->
    <h2 class="bkgw">Login with username and password (feature being added soon)..</h2>
     
    <h2 class="bkgw center">
	    Plotly Dial Chart
    </h2>
    <!-- Plotly Dial Chart -->
    <section class="bkgw center">
            <div id="schedulePlotChart" class="userPlotlyChart">
                  <!-- Schedule Plotly chart will be drawn inside this DIV -->
	    </div>
            <div id="riskPlotChart" class="userPlotlyChart">
                  <!-- Risk Plotly chart will be drawn inside this DIV -->
	    </div>
            <div id="costPlotChart" class="userPlotlyChart">
                  <!-- Cost Plotly chart will be drawn inside this DIV -->
	    </div>
    </section>

  </body>

  <!-- D3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- User Defined Scripts -->
  <!-- The reason the author uses a url_for static resource instead of relative path for js as in html style not based on Flask is to ensure that the javascript is loaded after the initial window.pageload. The result is that the div's will be organized in proper order with proper parent/child scope inheritance. -->
  <script type="text/javascript" src={{ url_for('static', filename='js/generate.js') }}></script>

</html>
