<!DOCTYPE html>
<!-- generate.html -->
<html>
  <head>
	  <!-- Vendor Dependencies -->
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	  <!-- User Defined CSS -->
          <link rel="stylesheet" href="../static/css/common.css">
          <link rel="stylesheet" href="../static/css/generate.css">
  </head>
  <body background="../static/images/dasacearmy.png" class="doapng" alt="Doa Watermark">
    <title>Generate Total Risk Data</title>
    <div class="header">
            <h2 class="center paddingtop">Risk Application Analyzer</h2>
            <p class="center">This application is for the purpose of determining risk associated with cost and schedule overrun for agile software development.</p>
    </div>
    <!-- This is the navigation bar -->
    <ul>
	    <li><a href="/home">Home</a></li>
            <li><a class="active" href="/generate">Generate</a></li>
            <li><a href="/contacts">Contact</a></li>
            <li><a href="/about">About</a></li>
    </ul>
    <!-- end of navbar -->
    <div class="container">
	    <form class="" action="/generate/chartData" method="POST">
		    <h3 class="form-signin-heading">Please fill out the number values accordingly so Charts can be generated.</h3>

		    <p class="bkgw">For how many weeks is your project scheduled?</p>
		    <input type="number" id="weeksLong" name="weeksLong" class="form-control" placeholder="Number only" required>

		    <p class="bkgw">What are the total amount of Features and/or Epics which need completing?</p>
		    <input type="number" id="totEpics" name="totEpics" class="form-control" placeholder="Number only" required>

		    <p class="bkgw">What is your sprint iteration cycle? (In Weeks)</p>
		    <input type="text" id="sprintWeek" name="sprintWeek" min="2" max="6" class="form-control" placeholder="2, 3, 4, 5, or 6" required>

		    <p class="bkgw">What is the percentage of effort your Tech Writer will be able to commit?</p>
		    <input type="text" id="techWriter" name="techWriter" class="form-control" placeholder="Number between 1-100" required>

		    <p class="bkgw">What is the percentage of effort your Product Manager will be able to commit?</p>
		    <input type="text" id="prodMan" name="prodMan" class="form-control" placeholder="Number between 1-100" required>

		    <p class="bkgw">What percentage of effort will your junior developers be able to commit?</p>
		    <input type="text" id="jrDev" name="jrDev" class="form-control" placeholder="Number between 1-100" required>

		    <p class="bkgw">What percentage of effort will your junior testers be able to commit?</p>
		    <input type="text" id="jrTest" name="jrTest" class="form-control" placeholder="Number between 1-100" required>

		    <p class="bkgw">What percentage of effort will your senior developers be able to commit?</p>
		    <input type="text" id="srDev" name="srDev" class="form-control" placeholder="Number between 1-100" required>

		    <p class="bkgw">What percentage of effort will your senior testers be able to commit?</p>
		    <input type="text" id="srTest" name="srTest" class="form-control" placeholder="Number between 1-100" required>

		    <p class="bkgw">What is the cost for one story point in your project?</p>
		    <input type="text" id="storyPoint" name="storyPoint" class="form-control" placeholder="Number Only" required>

            </br>
		    <button class="btn btn-md btn-primary btn-block" type="button" value="submit" onclick="genChartData();">Generate Charts</button>
	    </form>
    </div>

    </br>
    <h2 class="bkgw center">
	    Plotly Dial Charts
    </h2>
    <!-- Plotly Dial Chart -->
    <section class="bkgw center">
            <div id="schedulePlotChart" class="">
                  <!-- Schedule Plotly chart will be drawn inside this DIV -->
	    </div>
            <div id="riskPlotChart" class="">
                  <!-- Risk Plotly chart will be drawn inside this DIV -->
	    </div>
            <div id="costPlotChart" class="">
                  <!-- Cost Plotly chart will be drawn inside this DIV -->
	    </div>
    </section>

  </body>

  <!-- D3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- User Defined Scripts -->
  <!-- The reason the author uses a url_for static resource instead of relative path for js as in html style not based on Flask is to ensure that the javascript is loaded after the initial window.pageload. The result is that the div's will be organized in proper order with proper parent/child scope inheritance. -->
  <script type="text/javascript" src={{ url_for('static', filename='js/generate.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/common.js') }}></script>

</html>
