<!DOCTYPE html>
<!-- index.html -->
<html>
<!--Notes-->
<!--bts15 negates the bootstrap -15 px on right/left margin-->
<!--The author uses jinja in the templates so that large character variables can be easily changed.-->
  <head>
	  <!-- Vendor Dependencies -->
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	  
	  <!-- User Defined CSS -->
	  <link rel="stylesheet" href="../static/css/common.css">
	  <link rel="stylesheet" href="../static/css/riskappindex.css">
  </head>

  <body background="../static/images/dasacearmy.png" class="doapng" alt="Doa Watermark">
          <title>Risk Application For DODAF</title>
	  <div class="header">
		  <h2 class="center paddingtop">Risk Application Analyzer</h2>
		  <p class="center">This application is for the purpose of determining risk associated with cost and schedule overrun for agile software development.</p>
	  </div>

          <!-- This is the navigation bar -->
          <ul>
                  <li><a class="active" href="/home">Home</a></li>
                  <li><a href="/generate">Generate</a></li>
                  <li><a href="/contacts">Contact</a></li>
                  <li><a href="/about">About</a></li>
          </ul>
          <!-- end of navbar -->

          <p class="myclass bkgw">Welcome to application (will fill in more information as customer feedback is incorporated)</p>
	  <section class="row"> <!--Explains purpose of application.-->
		  <div class="bkgw" alt="Problem Statement"> <!--bkgw=backgroundWords__Created separate class so that without parent scope impact, only this div has a background of solid white.-->
			  <p class="row bts15">{{ bkgrnd1 }}</p> 
			  </br>
	                  <p class="row bts15">{{ bkgrnd2d0 }}</p>
			  </br>
	                  <p class="row bts15">{{ bkgrnd2d1 }}</p>
			  </br>
	                  <p class="row bts15">{{ bkgrnd3 }}</p>
			  </br>
	          </div>
	  </section>
	  <section class="row dblock bkgw"> <!--Contains example variable dial charts-->
		  <div class="bts15">
			  <p>There are three sets of data which this project will focus upon. One example with the numbering that level sets what the definition of good is perceived to be, a set where mostly junior developers are leveraged, and a set where mostly senior developers and testers are leveraged.</p>
			  </br>
			  <p>From this information the users can gather that Schedule, Risk, and Cost are associated to the input data presented to the application algorithm.</p>
			  </br>

			  <h3>Dataset 1 with Chart Output</h3>
			  <p>The numbers, respectively, for this dataset are 5, 10, 27.5, 27.5, 15, and 15.</p>
			  <img src="{{ url_for('static', filename='images/Schedule1.png') }}" />
			  <img src="{{ url_for('static', filename='images/Risk1.png') }}" />
			  <img src="{{ url_for('static', filename='images/Cost1.png') }}" />

			  <!--Using break 7 times to add extra space for visuals in between each grouping within the section-->
			  </br></br></br></br></br></br></br>

			  <h3>Dataset 2 with Chart Output</h3>
			  <p>The numbers, respectively, for this dataset are 5, 0, 50, 30, 5, and 5.</p>
			  <img src="{{ url_for('static', filename='images/Schedule2.png') }}" />
			  <img src="{{ url_for('static', filename='images/Risk2.png') }}" />
			  <img src="{{ url_for('static', filename='images/Cost2.png') }}" />

			  <!--Using break 7 times to add extra space for visuals in between each grouping within the section-->
			  </br></br></br></br></br></br></br>

			  <h3>Dataset 3 with Chart Output</h3>
			  <p>The numbers, respectively, for this dataset are 5, 5, 15, 15, 30, and 30.</p>
			  <img src="{{ url_for('static', filename='images/Schedule3.png') }}" />
			  <img src="{{ url_for('static', filename='images/Risk3.png') }}" />
			  <img src="{{ url_for('static', filename='images/Cost3.png') }}" />
			  </br>
		  </div>
	  </section>
  </body>

  <!-- Vendor Supplied Static Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <!-- D3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- User Defined Scripts -->
  <!-- The reason the author uses a url_for static resource instead of relative path for js as in html style not based on Flask is to ensure that the javascript is loaded after the initial window.pageload. The result is that the div's will be organized in proper order with proper parent/child scope inheritance. -->
  <script type="text/javascript" src={{ url_for('static', filename='js/riskappindex.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/common.js') }}></script>

</html>
