<!DOCTYPE html>
<!-- notfound.html -->
<html>
  <head>
	  <!-- Vendor Dependencies -->
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	  <!-- User Defined CSS -->
          <link rel="stylesheet" href="../static/css/common.css">
         <link rel="stylesheet" href="../static/css/notfound.css">
  </head>
  <body background="../static/images/doa.jpeg" class="doapng" alt="Doa Watermark">
    <title>PageNotFound</title>
    <p>Something went awry, please try again. If situation persists, please contact system administrator.</p>
    <!-- This is the navigation bar -->
    <ul>
	    <li><a href="/">Home</a></li>
            <li><a href="/generate">Generate</a></li>
            <li><a href="/contacts">Contact</a></li>
            <li><a href="/about">About</a></li>
    </ul>
    <!-- end of navbar -->
  </body>
</html>
