<!DOCTYPE html>
<!-- generate.html -->
<html>
  <head>
	  <!-- Vendor Dependencies -->
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	  <!-- User Defined CSS -->
          <link rel="stylesheet" href="../static/css/common.css">
          <link rel="stylesheet" href="../static/css/about.css">
  </head>
  <!--<body background="../static/images/dasacearmy.png" class="doapng" alt="Doa Watermark">-->
    <title>Python Generated Plot Chart</title>
    <div class="header">
            <h2 class="center paddingtop">Software Development Risk Analysis Application</h2>
            <p class="center">This application is for the purpose of determining risk, cost, and schedule associated with an agile software development project.</p>
    </div>
    <!-- This is the navigation bar -->
    <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/home#probstmnt">Project Overview</a></li>
            <li><a href="/home#appbkgnd">Application Background</a></li>
            <li><a href="/home#anlaprch">Model Approach</a></li>
            <li><a href="/contacts">Team</a></li>
            <li><a href="/generate">Generate</a></li>
            <li><a href="/about">About</a></li>
    </ul>
    <!-- end of navbar -->
  </body>

  <!-- User Defined Scripts -->
  <!-- The reason the author uses a url_for static resource instead of relative path for js as in html style not based on Flask is to ensure that the javascript is loaded after the initial window.pageload. The result is that the div's will be organized in proper order with proper parent/child scope inheritance. -->
  <script type="text/javascript" src={{ url_for('static', filename='js/pythonChart.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/common.js') }}></script>

</html>
